<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Basic Metas -->
	<meta charset="utf-8">
	<title>{% block title %}{% endblock %}</title>
	<meta name="description" content="{% block description %}{% endblock %}">
	<meta name="author" content="{{ SITE_AUTHOR }}">
	<link rel="author" href="{{ GOOGLE_PLUS_URL }}"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	{% block meta %}{% endblock %}

	<!-- Stylesheets and Web Fonts -->
	{% assets filters="scss, cssmin", output="style.min.css", "pneumatic.scss", "pygments.css" %}
	<link href="/{{ ASSET_URL }}" rel="stylesheet">
	{% endassets %}
	{% if GOOGLE_FONTS %}
	<link href="https://fonts.googleapis.com/css?family={{ GOOGLE_FONTS | join('|') | replace(' ', '+') }}" rel="stylesheet" type="text/css">
	{% endif %}
	{% if SOCIAL_ICONS %}
	{% if FA_EMBED_CODE %}
	<link rel="stylesheet" href="https://use.fontawesome.com/{{ FA_EMBED_CODE }}.css">
	{% else %}
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	{% endif %}
	{% endif %}

	<!-- Favicons -->
	<link rel="apple-touch-icon" href="/{{ ICONS_PATH }}/apple-touch-icon.png">
	{% for size in (57, 60, 72, 76, 114, 120, 144, 152, 180) %}
	<link rel="apple-touch-icon" sizes="{{ size }}x{{ size }}" href="/{{ ICONS_PATH }}/apple-touch-icon-{{ size }}x{{ size }}.png">
	{% endfor %}

	{% for size in (16, 32, 96, 160, 196) %}
	<link rel="icon" type="image/png" href="/{{ ICONS_PATH }}/favicon-{{ size }}x{{ size }}.png" sizes="{{ size }}x{{ size }}">
	{% endfor %}

	<meta name="theme-color" content="{{ THEME_COLOR }}">

	<meta name="msapplication-TileColor" content="{{ THEME_COLOR }}">
	<meta name="msapplication-TileImage" content="/{{ ICONS_PATH }}/mstile-144x144.png">
	{% for name, size in (('square70x70', 'small'), ('square150x150', 'medium'), ('wide310x150', 'wide'), ('square310x310', 'large')) %}
	<meta name="msapplication-{{ name }}logo" content="/{{ ICONS_PATH }}/mstile-{{ size }}.png">
	{% endfor %}

	<!--[if lt IE 9]>
	<script src="/theme/js/html5shiv.min.js"></script>
	<script src="/theme/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	<div class="container">
		<aside>
			<div id="name"><a href="/">{{ SITENAME }}</a></div>
			<div id="bio">{{ BIO_TEXT }}</div>

			{% if SIDEBAR_LINKS %}
			<div id="sidebar-links">
				{{ SIDEBAR_LINKS | join("&nbsp;&nbsp;|&nbsp;&nbsp;") }}
			</div>
			{% endif %}

			{% if SOCIAL_ICONS %}
			<div id="social">
				{% for link, title, icon in SOCIAL_ICONS %}
				<a href="{{ link }}" title="{{ title }}" class="icon fa {{ icon }}"></a>
				{% endfor %}
			</div>
			{% endif %}

			<hr id="sidebar-divider">
		</aside>

		<article>
			{% block content %}{% endblock %}
			<hr>
		</article>

		<footer>
			<p>{{ FOOTER_TEXT }}</p>
		</footer>
	</div>

	{% if GOOGLE_ANALYTICS %}
	<!-- Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', '{{ GOOGLE_ANALYTICS }}', '{{ DOMAIN }}');
		ga('send', 'pageview');
	</script>
	{% endif %}

	{% if GAUGES_ID %}
	<!-- Gauges -->
	<script type="text/javascript">
		var _gauges = _gauges || [];
		(function() {
			var t   = document.createElement('script');
			t.type  = 'text/javascript';
			t.async = true;
			t.id    = 'gauges-tracker';
			t.setAttribute('data-site-id', '{{ GAUGES_ID }}');
			t.src = '//secure.gaug.es/track.js';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(t, s);
		})();
	</script>
	{% endif %}
</body>
</html>
